body {
  margin: 0;
}

header{
  width: 100%;
  background-image: url("images/01.png");
  height: 400px;
  color: white;
  text-align: center;

}

.text{
padding-top: 97px;
font-family: 'Paytone One', sans-serif;
}

.text h1{
  font-size: 60px;
}


.container {
  width: 1000px;
  margin: auto;
}

.banner {
  margin-top: -50px;
  background-image: url("images/02.png");
  height: 100px;
}

.banner p{
  padding: 14px;
  color: red;
  font-weight: 600;
  font-size: 41px;
  font-family: 'Paytone One', sans-serif;
}
.expbox {
  width: 29.3%;
  float: left;
 background-color: black;
 font-family: arial, sans-serif;
 font-size: small;
 color: white;
 padding: 10px 20px;
 margin-top: -20px ;
 margin-bottom: 30px;
font-family: 'Carme', sans-serif;}

.expbox img {
  width: 50%;
}

.expbox p{
  float: right;
  margin-top: -75px;
  margin-right: 0px;
  font-weight: 800;
  font-size: 20px;
}

.expbox button{
  float: none;
  padding: 10px;
}

.description {
  margin-top: 139px;
}

.descbox03{
  background-image: url("images/03.png");
  background-repeat: no-repeat;
}
.descbox04{
  background-image: url("images/04.png");
  background-repeat: no-repeat;
}
.descbox05{
  background-image: url("images/05.png");
  background-repeat: no-repeat;
}

.description img{
  width: 100%;
}

.description p{
    padding: 100px;
font-family: 'Carme', sans-serif;
}

.descbox03 p{
  text-align: justify;
  padding-right: 500px;

}
.descbox04 p{
  text-align: justify;
  padding-left: 500px;
}
.descbox05 p{
  text-align: justify;
  padding-right: 500px;

}
